.eachList {
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  .todo-item {
    line-height: 40px;
    color: #696969;
    font-size: 20px;
    width: 300px;
    height: 40px;
    margin-right: 50px;
    text-align: left;
  }
  button {
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    width: 75px;
    height: 40px;
    font-size: 17px;
  }
}

.complete {
  background-color: rgb(81, 158, 81);
  margin-right: 5px;
  &:hover {
    border: 1px rgb(81, 158, 81) solid;
    background-color: #fff;
    color: rgb(81, 158, 81);
    cursor: pointer;
  }
}

.delete {
  background-color: rgb(236, 129, 129);
  &:hover {
    border: 1px rgb(236, 129, 129) solid;
    background-color: #fff;
    color: rgb(236, 129, 129);
    cursor: pointer;
  }
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
